<%= stylesheet_link_tag 'favorites_page.css' %>

<div class='container'>
  <h2>Favoritos</h2>

  <% if @animals.any? %>
      <% @animals.each do |animal| %>
        <div class='item_container'>  
          <label>Pet:</label>
          <%= link_to animal.name, animal, :class => "link" %>

          <% if animal.disponivel? && !admin_signed_in? %>
            <%= link_to 'Adotar', new_order_path(animal_id: animal), :class => 'button'%>
            <%= link_to 'Desfavoritar', favorites_path(animal_id: animal), :class => 'button', method: :delete %>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>