<h1> Pedidos </h1>

<% if @orders.any? %>
    <% @orders.each do |order| %>
        <%= link_to order.animal.nome, admin_order_path(order) %>
        <%= order.email %>
        <%= order.created_at %>
    <% end %>
<% end %>