<h1> Animais </h1>

<% if @animals.any? %>
    <% @animals.each do |animal| %>
        <%= link_to animal.nome, animal %>
        <%= animal.status %>        
        <% if animal.disponivel? %>
          <%= link_to 'Adotar', new_order_path(animal_id: animal)%>
          <%= link_to 'Desfavoritar', favoritos_path(animal_id: animal), method: :delete %>
        <% end %>
    <% end %>
<% end %>