@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.container {
  height: max-content;
  background-color: white;
  border: solid 1px #ffe782;
  border-radius: 10px;
  text-align: center;
}

.item-container{
  height: max-content;
  width: max-content;
  margin: 2vh 4vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
}