@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.container {
  height: max-content;
  background-color: white;
  border: solid 1px #ffe782;
  border-radius: 5%;
}

.item_container100{
  height: max-content;
  width: max-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 5%;
}

.item {
  font-family: 'Boogaloo', cursive;
  font-size: 1.2rem;
  color: #5B2018;
  margin: 0 10px;
}

.link{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

.link:hover{
  color: darkorange
}

.title {
  font-family: 'Boogaloo', cursive;
  font-size: 2.5rem;
  color: #5B2018;
  text-align: center;
}

