/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body{
  margin: 0 7%;
  background: url('background.png') repeat top fixed;
  background-size: cover;
  font-family: 'Mulish', sans-serif;
}

.flex_container{
  display: flex;
  align-items: center;
}

.icon{
  height: 4vh;
  width: auto;
  margin: 5px;
  padding: 0 10px;
}

.logo{
  height: 20vh;
  width: auto;
  margin: 0 5%;
}

.logo_name{
  font-family: 'Boogaloo', cursive;
  font-size: 9.5vh;
  font-weight: bold;
  color: #5B2018;
  margin: 0 6.5%;
}

nav{
  text-align: right;  
}

