.button{
  margin: 0 2px;
  padding: 2px 20px;
  width: 8vw;
  border:none;
  text-decoration: none;
  border-radius: 10px; 
  font-family: "Boogaloo", cursive;
  font-size: 1.25rem;
  background-color: darkorange;
  color: white;
  opacity: 0.75;
  cursor: pointer;
}

.button:hover{
  background-color: #acd2d0;
  color: white;
  opacity: 0.75;
}

.link{
  width: 8vw;
  cursor: pointer;
  text-decoration: underline; 
  color: blue;
  font-size: 1.25rem;
}

.link:hover{
  color:coral;
}

.container {
  height: max-content;
  width: auto;
  background-color: white;
  border: solid 1px #ffe782;
  border-radius: 10px;
}

.item_container{
  display: flex;
  flex-direction: row;
  padding: 2vh;
  justify-content: space-evenly;
}

h2{
  text-align: center;
  color:darkorange;
  font-size: 2rem;
}

label{
  font-size: 1.25rem;
}



