@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.button_container {
  display: flex;
  justify-content: space-evenly;
}

.filter_input{
  width: 10vw;
  margin: 2vh 1vw;
  padding: 5px;
  border: 1px solid #ffe782;
  border-radius: 10px;
}

.flex_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon{
  height: 6vh;
  width: auto;
}

.pet_container {
  height: max-content;
  width: auto;
  margin: 2vh 1.5vw;
  padding: 5px;
  background-color: white;
  border: solid 1px #ffe782;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.picture{
  height: 30vh;
  width: 15vw;
  border-radius: 10%;
  padding: 10px;
}

.text {
  font-size: 1.25rem;
  color: #5B2018;
}

.title {
  font-family: 'Boogaloo', cursive;
  font-size: 2rem;
  color: darkorange;
  padding: 10px 0;
  text-align: center;
}

.title:hover{
  color: #acd2d0;
}

.video{
  height: 30vh;
  width: 16vw;
  margin: 5px;
  padding: 0 10px;
}
