<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudar sua senha. Você pode faze isso através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou esta troca, por favor ignore esse e-mail.</p>